
/* .left-box{
    float: left;
    background-color: rgb(238, 229, 216);
    width: 18%;
    padding: 2px;
    margin: 6px 0px 3px 3px ;
    height: 100vh;
} */
*{
    font-family: 'Poppins', sans-serif;
}

.nav-txt{
   font-weight: bold;
   box-shadow: 0 3px 4px -2px rgba(0,0,0,.2);
}

.nav-btn{
    margin: 10px;
}

tr:nth-child(even) {
    background-color: #EBEBEB;
}
tr,td{
    vertical-align: super;
}
#s{
    
    margin-inline:15px ;
}
.t-ele{
    margin: 10px;
    margin-inline: 10px;
}
.tr-ele{
    margin: 7px;
    color: #3C537E;
}
tr,th,td {
    padding: 0.8rem, 0.8rem;
}

.filter{
    padding: 20px;
}

.thead{
    align-items: center;
    vertical-align: middle;
}
.table{
    min-width: max-content;
    text-align: center;
    
}
.initial{
    text-align: initial;
    max-width: 600px;
}
.table-wrapper{
    overflow-y: scroll;
    max-height: 50%;
}

.container-l#blur.active{
    filter: blur(5px);
}

.container#blur1.active{
    filter: blur(5px);
}

.status{
    width: 150px;
    border-radius: 5px;
    padding: 3px;
    padding-right: 8px;
    /* height: 60px;   */
    border: 0;

}

select>option{ 
    height:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    font-weight: 500;
    color: #3C537E;
  }


.productName{
    max-width: 500px;
    text-decoration: none;
    color: #3C537E;
}


.sidebar{
    width: 20%;
    align-items: center;
    border: rgb(146, 139, 139) solid 0.1px;
    float: left;
    margin: 20px;
    margin-left: 30px;
    margin-right: 15px;
    height: 550px;
}


.btn-1{
    text-align: center;
    color: black;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
   
   display: inline;
    
}

li{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40px; 
    padding: 10px;
   
}
li:hover{
    background-color: #4793EC26;
    font-weight: bold;
    
}

.logo{
    width: 149px;
    height: 149px;
    margin-bottom: 50px;
    margin-TOP: 50PX;
    border: solid;
}
.logoC{
    height: 75%;
    margin-bottom: 2px;
    margin-right: 7px;
}
.rupee{
    height: 28%;
    margin-bottom: 5%;
}
.list{
    text-align: center;
    padding: 0;
    margin-top: 0px;
  
}
/* .editb{
    text-decoration: none;
    border: 0;
    padding-inline: 10px;
    background-color: #4793EC;
    border-radius: 4px;
    width: 100px;
} */
.editb2{
    color: rgba(100, 162, 255, 1);
    text-decoration: none;
    font-size: 15px;
}


/* body.jsx css */

.card1{
    width: 30%;
    background-color: #FFFFFF;
    padding: 10px;
    height: 100px;
    margin: 12px;
    margin-top: 20px;
    box-shadow: 0.5px 1px 5px 1px rgba(74, 73, 73, 0.382);
    /* border: 1px solid #03030371; */
    border-radius: 5px;
}

.container{
    padding: 10px;
}

.stamps{
    align-items: center;
    align-content: center;
    padding-left: 2%;
}

.num{
    margin-top: 0px;
    margin-left: 0px;
    align-items: center;
}





/* popup-css */

.pop{
    min-width: 750px;
    min-height: 400px;
    width: 50%;
    background-color: #FFFFFF;
    /* text-align: center; */
    /* align-items: center; */
     position: absolute;
    top: 20%;
    left: 25%; 
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out;
    box-shadow: 2px 2px 24px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    padding-inline: 3%;
    border-radius: 5px;
    
}

.pop#popup.active{
    visibility: visible;
    opacity: 2;
    z-index: 2;
}

.font-s{
    font-size: 17px;
}
.font-title{
    font-size: 22px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
}
.product{
    font-size: 22px;
}

.font-d{
    font-size: 15px;
    max-width: 70%;
    color: #3C537E;
}
.pdiv{
    margin-bottom: 5%;
}

.sav{
    background-color: #119070;
    margin-inline-start: 8px;
    min-width: 50px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    width: 60px;
    height: 30px;
}

.datebar{
    min-width: 200px;
    width: 100%;
    padding: 3px;
    padding-inline-start: 15px;
    border-radius: 5px;
    border: 0;
    background-color: #DEDEDE;
    color: #3C537E;
}

.clo{
    text-align: center;
    margin-top: 10%;
}
.close{
    min-width: 190px;
    width: 33%;
    border-radius: 5px;
    border: 0;
    background-color: #4793EC;
    color: #FFFFFF;
    height: 30px;
}
.note{
    max-width: 200px;
    margin-top: 5px;
}

.tittle{
    text-align: center;
    font-weight: bold;
}
.productImg{
    /* float: right; */
    /* margin-top: -64px; */
    height: 119px;
}
.Pimg{
    height: 100%;
}


/* Sidebar CSS */

.side-sec{
   text-align: start;
}

ul>li{
    text-align: initial;
    padding-inline-start: 30px;
    height: 50px;
    font-size: 18px;
}